@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thank you!</title>
    <style type="text/css">
        .ty {
            font-family: Segoe UI,Tahoma,Arial,Verdana,sans-serif;
            font-size: 20px;
        }

        .tyl {
            font-family: Segoe UI,Tahoma,Arial,Verdana,sans-serif;
            font-size: 14px;
        }
    </style>
    <meta name="robots" content="noindex" />
</head>
<body>
    <body style="text-align:center">
        <p class="ty">
            Thank  you for your feedback!&nbsp; We greatly value your opinion.
        </p>
    </body>
</body>
</html>
